{
	"extends": "airbnb",
	"plugins": ["vue"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
		"no-param-reassign": "off",
		"no-console": ["error", { "allow": ["warn", "error"] }]
    }
}
