assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.solr
.idea
.DS_Store
docker-compose.yml
docker-sync.yml
.docker-sync/
*.sspak
vendor/
cms/
display_logic/
framework/
silverstripe-*
reports/
siteconfig/
crontask/
environmentcheck/
populate/
queuedjobs/
simple-styleguide/
gridfieldextensions/
queuedjobs/
node_modules/
